* {
  margin: 0;
}

.body {
  background: rgb(159, 205, 251);
}


.app__header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: 'absolute';
  background: rgb(159, 205, 251);

  /* Font style */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: bold;
  color: black;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: 'absolute';
  background: rgb(159, 205, 251);
  clear: both;
}

.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  position: 'absolute';
  background: rgb(159, 205, 251);
  clear: both;
}

.app__stats{
  display: flex;
  justify-content: space-between;
  background: rgb(159, 205, 251);
}

.app {
  display: flex;
  padding : 20px;
  justify-content: space-evenly;
}

.app__left {
  flex: flex;
  justify-content: space-evenly;
  padding: 20px;
}

@media (max_width: 990px) {
  .app{
    flex-direction: column;

  }
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  position: 'absolute';
  color: red;
}

.signError {
  color: red;
  visibility: hidden;
}

.logError {
  color: red;
  visibility: hidden;
}

.upEmailMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  position: 'absolute';
  color: green;
  visibility: hidden;
  background: rgb(159, 205, 251);
}

.upPWMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  position: 'absolute';
  color: green;
  visibility: hidden;
  background: rgb(159, 205, 251);
}