* {
  margin: 5px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: 'absolute';
  background: rgb(159, 205, 251);

  /* Font style */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: bold;
  color: black;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: 'absolute';
  background: rgb(159, 205, 251);
  clear: both;
}

.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  position: 'absolute';
  background: rgb(159, 205, 251);
  clear: both;
}

.topnav {
  background-color: rgb(240, 235, 235);
  overflow: hidden;
}

.app{
  background-color: lightskyblue;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.app__stats{
  display:flex;
  justify-content: space-between;
}

.app__left {
  flex:0.9;
}

body{
  background-color: gray ;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}